{% if section.settings.text %}
<div class="alert alert-warning custom-checkout-alert">
   {{ section.settings.text }}
</div>
{% endif %}
{% schema %}
   {
      "name":"International Alert",
      "settings":[
         {
            "type":"richtext",
            "id":"text",
            "label":"Text"
         }
      ]
   }
{% endschema %}