{{ content_for_index }}
<!-- <div class="elfsight-sapp-833d01a0-474d-11e8-ac92-9ba05ff02cfe"></div>
<script type="text/javascript">
  $(window).load(function(){
    setTimeout(function(){
      var text = $('.eapps-instagram-feed-title').text();
      $('.eapps-instagram-feed-title').html('<a href="https://www.instagram.com/osmiaorganics/" target="_blank">'+ text +'</a>');
    },1500);
  });
</script> -->