{% section 'quiz-intro' %}

<!-- <div class="questions-wrapper">
    <div class="container">
        <div class="quiz-intro">
            <p>Hi! this little quiz is short and sweet, and will help us match you with a skin kit that is customized for you and your skin.</p>
            <a href="/pages/quiz"><div class="icons" style="background-image: url('//cdn.shopify.com/s/files/1/0447/3157/files/quiz-MeBaby.png?v=1614576722');"></div></a>      
        </div>
    </div>
</div> -->